
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Vos playlists de films comme vous ne les avez jamais vu !</h1>
    <p>Ajoutez vos films</p>
    <a class="btn btn-flat" href="">Nouvelle Playlist</a>
  </div>
</div>

<div class ="container">

  <div class="cards">
    <% @lists.each do |list| %>
    <%= link_to list_path(list) do  %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%=list.name%>
    </div>
    <% end %>
    <% end %>
  </div>

  <div >
    <h1>New List</h1>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.submit "Add List", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
